@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #121212;
  color: white;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(250, 127, 0, 1) 0%,
    rgba(90, 191, 143, 1) 30%,
    rgba(29, 205, 253, 1) 56%,
    rgba(255, 66, 214, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}
