.main {
  background-color: var(--accent);
}

.info-img {
  width: 100%;
}

.sp-info {
  margin: 6%;
}

.sp-info div {
  margin: 2% 0;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
}

#eventbrite-widget-modal-trigger-143523924923 {
  width: 100%;
}
