.header {
  padding: 38vh 5vw;
  margin: auto auto;
  text-align: center;
  background-color: var(--bg);
}

.title {
  font-size: 48px;
}

main {
  text-align: center;
}

#reach-map {
  height: 80vh;
}

.info {
  padding: 5% 10%;
  background-color: var(--accent);
}

.reach {
  padding: 5% 10%;
  background-color: var(--bg);
}

@media only screen and (min-width: 992px) {
  .header {
    padding-left: 10%;
    padding-right: 50%;
    margin: 0;
    text-align: left;
  }
  .hr {
    margin: 0;
  }
  main {
    text-align: left;
  }
}
