<main>
  <div class="header">
    <h1 class="title gradient-text">AI 4 Cast</h1>
    <p class="desc">
      Be a part of our podcasts series on various AI topics and share your
      experiences/advices with others
    </p>
  </div>

  <!-- <div class="episodes" *ngFor="let episode of episodes | async">
    <div class="episode" [innerHTML]="episode.embed"></div>
  </div> -->

  <div #recent class="hidden">
    <h3>Most Recent Episode</h3>
  </div>

  <div #previous class="hidden">
    <h3>Past Episodes</h3>
  </div>
</main>
