<div class="container">
  <div class="row">
    <div class="partners col-md-6 col-sm-12">
      <h3>Sponsors</h3>

      <div class="partner row">
        <img
          src="assets/partners/hackplus.jpg"
          alt="hackplus"
          class="partner-logo"
        />

        <p class="partner-desc">
          Hack+ is an accessible nonprofit accelerator for student-led impacts.
          AI 4 Change is proud to have Hack+ as a sponsor.
        </p>

        <a href="https://hackplus.io" class="btn btn-outline-light"
          >Learn more</a
        >
      </div>
    </div>

    <div class="partners col-md-6 col-sm-12">
      <h3>Partners</h3>
      <div class="partner row">
        <img
          src="assets/partners/asu.jpeg"
          alt="ASU AI Club"
          class="partner-logo"
        />

        <p class="partner-desc">
          ASU's AI club aims spread knowledge AI with events such as guest
          speakers, networking events, club projects, workshops with
          professionals, company tours, conferences
        </p>

        <a
          href="https://asu.campuslabs.com/engage/organization/artificial-intelligence-club"
          class="btn btn-outline-light"
          >Learn more</a
        >
      </div>
    </div>
  </div>
</div>
