<section class="bg">
  <ng-particles id="id" url="assets/particlesjs-config.json"></ng-particles>

  <section class="about">
    <div>
      <div class="center">
        <h1 class="display-1 title gradient-text">AI 4 Change</h1>
        <hr class="hr" />
        <p class="about-desc">
          AI 4 Change is a platform for students who want to practice AI through
          small projects and workshops, including seminars with AI professionals
          and enthusiasts, podcasts and blogs regarding AI, hackathons, AI
          projects that members can participate in for practical experience, and
          tutoring regarding topics related to AI.
        </p>
        <a class="btn btn-outline-light" [routerLink]="['/team']"
          >Check out the team</a
        >
      </div>
    </div>
  </section>
</section>

<section class="wwd" id="wwd">
  <h2 class="mbr-section-title pb-3 mbr-fonts-style display-4 text-center">
    What We Do
  </h2>
  <div class="wwd-item-container">
    <div class="wwd-item">
      <div class="wwd-item-header">
        <i
          class="fas fa-project-diagram wwd-icon"
          animateOnScroll
          animationName="wwd-animation-icon"
        ></i>
        <h3 animateOnScroll animationName="wwd-animation-title">Projects</h3>
      </div>
      <div
        class="wwd-item-desc"
        animateOnScroll
        animationName="wwd-animation-text"
      >
        <p>
          Work with other students on AI projects and share your project/product
          with everyone
        </p>
      </div>
    </div>

    <div class="wwd-item">
      <div class="wwd-item-header">
        <i
          class="fas fa-calendar wwd-icon"
          animateOnScroll
          animationName="wwd-animation-icon"
        ></i>
        <h3 animateOnScroll animationName="wwd-animation-title">Events</h3>
      </div>
      <div
        class="wwd-item-desc"
        animateOnScroll
        animationName="wwd-animation-text"
      >
        <p>Learn about AI and network with other AI enthusiasts</p>
      </div>
    </div>

    <div class="wwd-item">
      <div class="wwd-item-header">
        <i
          class="fas fa-podcast wwd-icon"
          animateOnScroll
          animationName="wwd-animation-icon"
        ></i>
        <h3 animateOnScroll animationName="wwd-animation-title">Podcasts</h3>
      </div>
      <div
        class="wwd-item-desc"
        animateOnScroll
        animationName="wwd-animation-text"
      >
        <p>
          Be a part of our podcasts series on various AI topics and share your
          experiences/advices with others
        </p>
      </div>
    </div>

    <div class="wwd-item">
      <div class="wwd-item-header">
        <i
          class="fas fa-pen-square wwd-icon"
          animateOnScroll
          animationName="wwd-animation-icon"
        ></i>
        <h3 animateOnScroll animationName="wwd-animation-title">Blogs</h3>
      </div>
      <div
        animateOnScroll
        animationName="wwd-animation-text"
        class="wwd-item-desc"
      >
        <p>
          Learn about AI through insightful blogs and join our blog team and
          write blogs on AI topics/projects and get featured
        </p>
      </div>
    </div>

    <div class="wwd-item">
      <div class="wwd-item-header">
        <i
          class="fas fa-code wwd-icon"
          animateOnScroll
          animationName="wwd-animation-icon"
        ></i>
        <h3 animateOnScroll animationName="wwd-animation-title">Hackathons</h3>
      </div>
      <div
        class="wwd-item-desc"
        animateOnScroll
        animationName="wwd-animation-text"
      >
        <p>
          24 hour coding events where students will be developing an AI project
          of their own within a group competitively
        </p>
      </div>
    </div>

    <div class="wwd-item">
      <div class="wwd-item-header">
        <i
          class="fas fa-search wwd-icon"
          animateOnScroll
          animationName="wwd-animation-icon"
        ></i>
        <h3 animateOnScroll animationName="wwd-animation-title">Research</h3>
      </div>
      <div
        animateOnScroll
        animationName="wwd-animation-text"
        class="wwd-item-desc"
      >
        <p>
          Be part of the research team to work with other students and
          professors on an AI research project
        </p>
      </div>
    </div>

    <div class="wwd-item">
      <div
        class="wwd-item-header"
        animateOnScroll
        animationName="wwd-animation-icon"
      >
        <i class="fas fa-chalkboard-teacher wwd-icon"></i>
        <h3 animateOnScroll animationName="wwd-animation-title">Tutoring</h3>
      </div>
      <div
        animateOnScroll
        animationName="wwd-animation-text"
        class="wwd-item-desc"
      >
        <p>
          Sign up to get tutored on AI topics and attend the workshops and
          seminars or become a tutor and help other students
        </p>
      </div>
    </div>
  </div>
</section>

<section class="cta" style="margin-bottom: 20px">
  <div class="text-center">
    <h1 class="display-5">Support us</h1>
    <p>Your generosity helps us succeed. Every donation makes a difference.</p>
    <a href="mailto:sponsors@ai4change.com"
      ><button class="btn btn-lg btn-outline-light">Contact us</button></a
    >
  </div>
</section>
